div {
    height: 40px;
    width: 80vw;
    border: 2px solid black;
    background-color: lawngreen;
    margin: 10px;
    border-radius: 10px;
    animation: loader 2s infinite 5s alternate;
    animation-play-state: running;
}

@keyframes loader {
    from {
        width: 50px;
    }
    to {
        width: 80vw;
    }
}

div:nth-of-type(1) {
    animation-timing-function: ease-in;
}

div:nth-of-type(2) {
    animation-timing-function: ease-in-out;
}

div:nth-of-type(3) {
    animation-timing-function: ease-out;
}

div:nth-of-type(4) {
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}